body{
    text-align: center;
    font-size: x-large;
    position: static;
    font-family:'Courier New', Courier, monospace;
    background-image: linear-gradient(-45deg, #5d8fdf 50%, #edd9f0f8 50%);;
    margin: 10px;
}
.menu1{
    list-style: none;
    padding:0;
    background:transparent;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    font-size: x-large;
    position: static;
    
}
.menu1 li a{
    text-decoration: none;
    color:#000000;
    padding: 20px;
    display: block;
}
.menu1 li {
    display: inline-block;
    text-align: left;
}
.menu1 li a :hover{
    background:#e737af;
    padding: 10px;
}
.menu2{
  text-align: center;
  margin: 20px;
}

.menu2 li{
  display: inline-block;
  text-align: center;
  color: #ee07bc;
}

.menu2 li a{
  display: inline-block;
  color: white;
  text-decoration: none;
  background-color: rgb(3, 3, 3);
  padding: 10px;
  width: 3px;
  height: 3px;
  font-size: 20px;
  border-radius: 100%;
}
.menu3{
    list-style: none;
    padding:0;
    background:transparent;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    font-size: x-large;
    position: static;
    
}
.menu3 li a{
    text-decoration: none;
    color:#000000;
    padding: 20px;
    display: block;
}
.menu3 li {
    display: inline-block;
    text-align: center;
}
.menu3 li a :hover{
    background:#d6d1d4;
    padding: 10px;
}
button{
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    padding: 30;
    color: black;
    font-size: 50px;
    transition: .3 ease all;
    text-align: left;
}
.btn:hover{
background: burlywood;
color: #000;
box-shadow: 3px 3px 50px chocolate;
}