body{
    text-align: center;
    font-size: x-large;
    position: static;
    font-family:'Courier New', Courier, monospace;
    background-image: linear-gradient(-45deg, #ec69c2 50%, #edd9f0f8 50%);;
    margin: 10px;
}
.menu1{
    list-style: center;
    padding:0;
    background:transparent;
    width: 90%;
    max-width: 1000px;
    margin: auto;
}
.menu1 li a{
    text-decoration: none;
    color:#0f0f0f;
    padding: 20px;
    display: block;
}
.menu1 li{
    display: inline-block;
    text-align: center;
}
.menu1 li a:hover{
    background: #e737af;
}
table tr td a img{
    border: 4px solid black;
    width:200px;
    height:200px;
    display: inline-block;
    text-align: center;
    padding: 50px;
}
table tr td a{
    text-decoration: none;
    color: #000000;
}
.menu3 li a{
    text-decoration: none;
    color:#000000;
    padding: 20px;
    display: block;
}
.menu3 li {
    display: inline-block;
    text-align: center;
}
.menu3 li a :hover{
    background:#d6d1d4;
    padding: 10px;
}
  button{
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    padding: 30;
    color: black;
    font-size: 50px;
    transition: .3 ease all;
    text-align: left;
}
.btn:hover{
background: burlywood;
color: #000;
box-shadow: 3px 3px 50px chocolate;
}