
body{
	background:url(../imagenes/bebidas.jpg);
}

h1{
	color:#FFFF00;
	text-align: center;
	font-style: Matura MT Script Capitals;
    padding: 0px;
    letter-spacing: 30px;
    font-size: 80px;
    text-shadow: 5px 5px 5px #8A0829;

}

h2{
	color:#2EFE2E;
	text-align: center;
	font-family: Stencil;
	font-size: 48px;
	text-shadow: 3px 3px 3px #FF0040;
	text-decoration: line-through;
}

	h3{
		color:blue;
		text-align: center;
		text-decoration: underline;
		font-size: 30px;

	}



	

