body{
    
    background: white;
	margin: 0;
	display: flex;
	min-height: 100vh;
}

.slider {

	width: 800px;
	height: 500px;
	margin: auto;
	position:relative;
	list-style: none;
	padding: 0;
	display: flex;
	align-items: flex-end;
	box-shadow: 0 0 0 20px black;


} 

.slider img{

	position: absolute;
	top: 0;
	left: 0;
	width:  100%;
	height: 100%;
	opacity: 0;
	transition: all 0.4s;


}

.slider input[type="radio"]{

display: none;

}


.slider input[type="radio"]:checked ~ img{

opacity: 1;


}

.slider input[type="radio"] + label {

	position:relative;
	z-index: 50;
	margin: 10px;
	display: block;
	width: 20px;
	height: 20px;
	background: black;
	border-radius: 50%;
	border: 2px solid white;
    cursor: pointer;

}



.slider input[type="radio"]: checked + label {

	background:black;
	border: 2px solid white;